<!DOCTYPE html>
<html lang="fr">
<head>
    <title>HELPDESK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('global/css/bootstrap.min.css') }}">
    <script src="{{ asset('global/js/jquery.js') }}"></script>
    <script src="{{ asset('global/js/bootstrap.js') }}"></script>
    <script>
        <!--
        function timedRefresh(timeoutPeriod) {
            setTimeout("location.reload(true);",timeoutPeriod);
        }

        window.onload = timedRefresh(120000);

        //   -->
    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1>HELPDESK</h1>
    <p>Portail de Connaissance</p>
</div>


{% block body %}

{% endblock %}



</body>
</html>
