{% extends("::layout/layout-home.html.twig") %}

{% block body %}
    <div class="container">
        <h2>Version des Logiciels</h2>
        <p>Ceci est à titre d'information</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom du logiciel</th>
                <th>Version</th>
                <th>Comment faire la mise à jour</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Flash</td>
                <td>25.XX.XX</td>
                <td>Tickets GSD et envoi au N2</td>
            </tr>
            <tr>
                <td>Flash</td>
                <td>25.XX.XX</td>
                <td>Tickets GSD et envoi au N2</td>
            </tr>
            <tr>
                <td>Flash</td>
                <td>25.XX.XX</td>
                <td>Tickets GSD et envoi au N2</td>
            </tr>
            </tbody>
        </table>
    </div>
{%  endblock %}